<%= form_with(model: fornecedor) do |form| %>
  <% if fornecedor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fornecedor.errors.count, "error") %> prohibited this fornecedor from being saved:</h2>

      <ul>
        <% fornecedor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
       <div class="col-lg-8 form-group">   
           <%= form.label :nome, :class => 'control-label required' %>
           <%= form.text_field :nome,  :class => 'form-control' %>
       </div>
   <div class="col-lg-8 form-group">   
           <%= form.label :telefone, :class => 'control-label required' %>
           <%= form.text_field :telefone,  :class => 'form-control' %>
       </div>

  <div class="col-lg-8 form-group">   
           <%= form.label :cnpj_cpf, :class => 'control-label required' %>
           <%= form.text_field :cnpj_cpf,  :class => 'form-control' %>
       </div>

   <div class="col-lg-8 form-group">   
           <%= form.label :email, :class => 'control-label required' %>
           <%= form.text_field :email,  :class => 'form-control' %>
       </div>
 <div class="col-lg-8 form-group">   
           <%= form.label :cep, :class => 'control-label required' %>
           <%= form.text_field :cep,  :class => 'form-control' %>
       </div>

 <div class="col-lg-8 form-group">   
           <%= form.label :logradouro, :class => 'control-label required' %>
           <%= form.text_field :logradouro,  :class => 'form-control' %>
       </div>

   <div class="row">
          <div class="col-lg-7 form-group">  
            <%= link_to 'Voltar', fornecedors_path, :class => "btn btn-primary colorprimarybtn"%>
            <input type="submit" name="commit" class="btn btn-primary colorprimarybtn" value="Salvar " data-disable-with="Salvando" />
          </div>
      </div>
<% end %>
