<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Visualizar Fornecedor
            </h2>
        </div>
    </div>

<div class="row">  
      <div class="col-lg-5 form-group"> 
          <label class = 'control-label'>Nome</label>
          <input readonly="true" class = 'form-control' value="<%= @fornecedor.nome %>" />  
      </div>
      </div>
<div class="row">  
      <div class="col-lg-5 form-group"> 
          <label class = 'control-label'>Telefone</label>
          <input readonly="true" class = 'form-control' value="<%= @fornecedor.telefone %>" />  
      </div>
</div>
<div class="row">  
      <div class="col-lg-5 form-group"> 
          <label class = 'control-label'>Cnpj_cpf</label>
          <input readonly="true" class = 'form-control' value="<%= @fornecedor.cnpj_cpf %>" />  
      </div>
      </div>
<div class="row">  
      <div class="col-lg-5 form-group"> 
          <label class = 'control-label'>Email</label>
          <input readonly="true" class = 'form-control' value="<%= @fornecedor.email %>" />  
      </div>
      </div>
<div class="row">  
      <div class="col-lg-5 form-group"> 
          <label class = 'control-label'>Cep</label>
          <input readonly="true" class = 'form-control' value="<%= @fornecedor.cep %>" />  
      </div>
</div>
<div class="row">  
      <div class="col-lg-5 form-group"> 
          <label class = 'control-label'>Logradouro</label>
          <input readonly="true" class = 'form-control' value="<%= @fornecedor.logradouro %>" />  
      </div>
      </div>
<div class="row">
                <div class="col-lg-7 form-group">  
                  <%= link_to 'Alterar Fornecedor', edit_fornecedor_path(@fornecedor), :class => "btn btn-primary colorprimarybtn" %>
                  <%= link_to 'Voltar',  fornecedors_path, :class => "btn btn-primary colorprimarybtn"%>
                </div>
    </div>
   </div>
   </div>