<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="row">
       <div class="col-lg-6 form-group">   
           <%= form.label :nome, :class => 'control-label required' %>
           <%= form.text_field :nome,  :class => 'form-control' %>
       </div>

  <div class="col-lg-6 form-group">   
           <%= form.label :telefone, :class => 'control-label required' %>
           <%= form.text_field :telefone,  :class => 'form-control' %>
       </div>

       <div class="col-lg-6 form-group">   
           <%= form.label :email, :class => 'control-label required' %>
           <%= form.text_field :email,  :class => 'form-control' %>
       </div>


 
       <div class="col-lg-6 form-group">   
           <%= form.label :password, :class => 'control-label required' %>
           <%= form.text_field :password,  :class => 'form-control' %>
       </div>
     </div>


   <div class="row">
          <div class="col-lg-7 form-group">  
           
            <%= link_to 'Voltar', users_path, :class => "btn btn-primary colorprimarybtn"%>
             <input type="submit" name="commit" class="btn btn-primary colorprimarybtn" value="Salvar " data-disable-with="Salvando" />
          </div>
      </div>
<% end %>
