<%= form_with(model: iten) do |form| %>
  <% if iten.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(iten.errors.count, "error") %> prohibited this iten from being saved:</h2>

      <ul>
        <% iten.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :preco_venda %>
    <%= form.text_field :preco_venda %>
  </div>

  <div class="field">
    <%= form.label :quantidade %>
    <%= form.number_field :quantidade %>
  </div>

  <div class="field">
    <%= form.label :valor_total %>
    <%= form.text_field :valor_total %>
  </div>

  <div class="field">
    <%= form.label :produto_id %>
    <%= form.text_field :produto_id %>
  </div>

  <div class="field">
    <%= form.label :venda_id %>
    <%= form.text_field :venda_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
