<p id="notice"><%= notice %></p>

<h1>Itens</h1>
 <%= form_tag itens_path( format:"html"), :method => 'get' do %>  
      <div class="row">
            <div class="col-lg-5  form-group">  
                <%= text_field_tag :nome, params[:nome], :class => 'form-control', :placeholder=>"Digite o nome do iten para pesquisar" %>  
              </div>
              <div class="col-lg-2 form-group">
                <%= submit_tag "Pesquisar", :class => "btn btn-primary colorprimarybtn" %>
              </div>

           <div class="col-lg-2 form-group">  
                  <span class="input-group-btn" style="display: inline-block;"><button class="btn btn-primary colorprimarybtn" type="button" onclick="javascript: location.href='<%= new_iten_path %>';"><i class="fa fa-plus-circle"></i> Novo Iten</button></span>
            </div>
<%end%>
<div class="table-responsive">
  <table class="table table-hover table-striped" cellpadding="0" cellspacing="0">

  <thead>
    <tr>
      <th>Preço venda</th>
      <th>Quantidade</th>
      <th>Valor total</th>
      <th>Produto</th>
      <th>Venda</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @itens.each do |iten| %>
      <tr>
        <td><%= iten.preco_venda %></td>
        <td><%= iten.quantidade %></td>
        <td><%= iten.valor_total %></td>
        <td><%= iten.produto_id %></td>
        <td><%= iten.venda_id %></td>
        <td><%= link_to 'Visualizar', iten %></td>
        <td><%= link_to 'Editar', edit_iten_path(iten) %></td>
        <td><%= link_to 'Excluir', iten, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>

