<%= form_with(model: produto) do |form| %>
  <% if produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
        <% produto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
       <div class="col-lg-6 form-group">   
           <%= form.label :nome, :class => 'control-label required' %>
           <%= form.text_field :nome,  :class => 'form-control' %>
       </div>

   <div class="col-lg-6 form-group">   
           <%= form.label :quantidade, :class => 'control-label required' %>
           <%= form.text_field :quantidade,  :class => 'form-control' %>
       </div>

   <div class="col-lg-6 form-group">   
           <%= form.label :validade, :class => 'control-label required' %>
           <%= form.text_field :validade,  :class => 'form-control' %>
       </div>
   <div class="col-lg-6 form-group">   
           <%= form.label :preco, :class => 'control-label required' %>
           <%= form.text_field :preco,  :class => 'form-control' %>
       </div>

  <div class="col-lg-6 form-group">   
           <%= form.label :marca, :class => 'control-label required' %>
           <%= form.text_field :marca,  :class => 'form-control' %>
       </div>

   <div class="row">
          <div class="col-lg-7 form-group">  
           
            <%= link_to 'Voltar', fornecedors_path, :class => "btn btn-primary colorprimarybtn"%>
             <input type="submit" name="commit" class="btn btn-primary colorprimarybtn" value="Salvar " data-disable-with="Salvando" />
          </div>
      </div>
<% end %>
