<p id="notice"><%= notice %></p>

<div class="row">  
      <div class="col-lg-5 form-group"> 
          <label class = 'control-label'>Nome</label>
          <input readonly="true" class = 'form-control' value="<%= @fornecedor.nome %>" />  
      </div>

<div class="col-lg-5 form-group"> 
          <label class = 'control-label'>Quantidade</label>
          <input readonly="true" class = 'form-control' value="<%= @fornecedor.quantidade %>" />  
      </div>

<div class="col-lg-5 form-group"> 
          <label class = 'control-label'>Validade</label>
          <input readonly="true" class = 'form-control' value="<%= @fornecedor.validade %>" />  
      </div>

<div class="col-lg-5 form-group"> 
          <label class = 'control-label'>Preço</label>
          <input readonly="true" class = 'form-control' value="<%= @fornecedor.preco %>" />  
      </div>

<div class="col-lg-5 form-group"> 
          <label class = 'control-label'>Marca</label>
          <input readonly="true" class = 'form-control' value="<%= @fornecedor.marca %>" />  
      </div>

 <div class="col-lg-5 form-group"> 
          <label class = 'control-label'>Fornecedor</label>
          <input readonly="true" class = 'form-control' value="<%= @produto.fornecedor.nome %>" />  
      </div>
      </div>
<div class="row">
                <div class="col-lg-7 form-group">  
                  <%= link_to 'Alterar Produto', edit_produto_path(@produto), :class => "btn btn-primary colorprimarybtn" %>
                  <%= link_to 'Voltar',  produto_path, :class => "btn btn-primary colorprimarybtn"%>
                </div>
    </div>