<p id="notice"><%= notice %></p>

<h1>Vendas</h1>
<%= form_tag vendas_path( format:"html"), :method => 'get' do %>  
      <div class="row">
            <div class="col-lg-5  form-group">  
                <%= text_field_tag :nome, params[:nome], :class => 'form-control', :placeholder=>"Digite o nome da venda para pesquisar" %>  
              </div>
              <div class="col-lg-2 form-group">
                <%= submit_tag "Pesquisar", :class => "btn btn-primary colorprimarybtn" %>
              </div>

           <div class="col-lg-2 form-group">  
                  <span class="input-group-btn" style="display: inline-block;"><button class="btn btn-primary colorprimarybtn" type="button" onclick="javascript: location.href='<%= new_venda_path %>';"><i class="fa fa-plus-circle"></i> Nova Venda</button></span>
            </div>
            <div class="col-lg-3 form-group">  
                    <%= link_to "Relatório ", relatorio_vendas_path(format: 'pdf'), :target => "_blank", :class => "btn btn-primary colorprimarybtn" %>
  </div>          </div>
<%end%>
<div class="table-responsive">
  <table class="table table-hover table-striped" cellpadding="0" cellspacing="0">

  <thead>
    <tr>
      <th>Data</th>
      <th>Total</th>
      <th>Total pagar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendas.each do |venda| %>
      <tr>
        <td><%= venda.data %></td>
        <td><%= venda.total %></td>
        <td><%= venda.total_pagar %></td>
        <td><%= link_to 'Visualizar', venda %></td>
        <td><%= link_to 'Editar', edit_venda_path(venda) %></td>
        <td><%= link_to 'Excluir', venda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>

